@page "/programinglanguage/edit/{id:int}"
@inject IProgramingLanguageService ProgramingService
@inject NavigationManager Navigation

<h3>Editing @programingLanguage.Name</h3>

@if (ErrorMessage != null)
{
	<input type="text" placeholder="@ErrorMessage" readonly="readonly"/>
}

<RadzenTemplateForm Data="@programingLanguage" Submit="@((ProgramingLanguage args) => { SubmitAsync(args); })">
        <div class="row">
            <div class="col-md-6">
                <RadzenFieldset Text="Editing Programing Language">
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Id" />
                        </div>
                        <div class="col-md-8">
                            <RadzenNumeric style="width: 100%;" @bind-Value="programingLanguage.Id" ReadOnly/>
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Name" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox style="width: 100%;" @bind-Value="programingLanguage.Name" />
                        </div>
                     </div>
                     <div class="row justify-content-center">
                        <div class="col-md-12 d-flex align-items-end justify-content-center" style="margin-top: 16px;">
                            <RadzenButton ButtonType="ButtonType.Submit" Icon="check_circle" ButtonStyle="ButtonStyle.Success" Text="Edit" />
                        </div>
                    </div>
	            </RadzenFieldset>
            </div>
        </div>
</RadzenTemplateForm>

@code {
    [Parameter]
    public int Id { get; set; }
    public string ErrorMessage { get; set; }

    ProgramingLanguage programingLanguage = new();

    protected override async Task OnParametersSetAsync()
    {
		if (Id != null)
		{
			try
			{
				programingLanguage = await ProgramingService.GetByIdAsync(Id);
			}
			catch (Exception ex)
			{
				ErrorMessage = ex.Message;
			}
		}
	}

	private async Task SubmitAsync(ProgramingLanguage agrs)
	{
		try
		{
			await ProgramingService.UpdateAsync(programingLanguage);
			Navigation.NavigateTo("/programinglanguages");
		}
		catch (Exception ex)
		{
			ErrorMessage = ex.Message;
		}
	}
}
